{% extends 'base.html' %}
{% block content %}
    <h2>Checkout</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="checkout-btn">Pay with PhonePe</button>
    </form>


    <h1>Cart Items</h1>
    
    {% if cart_items %}
        <table border="1">
            <tr>
                <th>Crop</th>
                <th>Price per kg</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.crop.crop.name }}</td>
                <td>₹{{ item.crop.price_per_kg }}</td>
                <td><button onclick="updateCartItem('{{ item.id }}', 'decrement')">-</button>
                    <span id="quantity-{{item.id}}">{{ item.quantity }}</span>
                    <button onclick="updateCartItem('{{ item.id }}', 'increment')">+</button>
                </td>
                <td id="total-price-{{item.id}}">₹{{ item.get_total_price }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h2 id="cart-total">Total: ₹{{ total_price }}</h2>
        <button id="rzp-button1" >Proceed to Checkout</button>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
   


{% endblock %}